<app-navbar></app-navbar>
<div class="container-fluid position-relative">
    <!-- part 1 -->
    <div class="bg-img position-relative">
        <div class="position-absolute top-50 start-50 translate-middle text-center text-blue d-flex flex-column align-items-center">
            <p class="fs-1 fw-bold mb-4">Problems everyone has when working remotely and how to solve them </p>
            <div class="icon-line  mb-3">
                <span class="icon-wrapper">
                    <i class="fa-regular fa-clock" style="color: #132f55;"></i>
                    <span class="icon-text ms-2">July 29, 2020</span>
                </span>
                <span class="icon-wrapper">
                    <i class="fa-solid fa-pen ms-3" style="color: #132f55;"></i>
                    <span class="icon-text ms-2">Sway</span>
                </span>
                <span class="icon-wrapper">
                    <i class="fa-regular fa-comment ms-2" style="color: #132f55;"></i>
                    <span class="icon-text ms-2">3</span>
                </span>
            </div>          
              
          
         </div>
    </div>  
      <!-- blog -->
       <div class="container ">
        <div class="row mt-7">
            <!-- Left side: Blog content -->
            <div class="col-md-7 col-11 ms-3 blog-content ">
                <div class="blog-img">
                    <img src="../../../assets/images/home/blogs/single.jpg">
                </div>
              <div class="intro">
                <p class="text-muted fs-6 mt-5 fw-semibold">
                    Globally incubate standards compliant channels before scalable benefits. 
                    Quickly disseminate superior deliverables whereas web-enabled applications. 
                    Quickly drive clicks-and-mortar catalysts for change before vertical architectures. 
                    Credibly reintermediate backend ideas for cross-platform models. 
                    Holistically foster superior methodologies without market-driven best practices.
                </p>
                <div class="title1" id="heading1">
                  <p class="fw-bold text-blue fs-4 fs-4" >
                        The subtle tricks

                    </p>
                    <p class="text-muted fs-6 fw-semibold ">
                        Progressively maintain extensive infomediaries via extensible niches. 
                        Dramatically disseminate standardized metrics after resource-leveling processes. 
                        Objectively pursue diverse catalysts for change for interoperable meta-services. 
                        Distinctively re-engineer revolutionary meta-services and premium architectures. 
                        Intrinsically incubate intuitive opportunities and real-time potentialities. 
                        Appropriately communicate one-to-one technology.
                    </p>
                    <p class="text-muted fs-6 fw-semibold">
                        Dynamically reinvent market-driven opportunities and ubiquitous interfaces. 
                        Energistically fabricate an expanded array of niche markets through robust products.
                        Appropriately implement visionary e-services vis-a-vis strategic web-readiness.
                    </p>
                    <div class="title1" id="heading2">
                        <p class="title text-blue fs-4 fw-bold">
                        Defenition of success
                    </p>
                    </div>
                    <p class="text-muted fs-6 fw-semibold">
                        Objectively pursue diverse catalysts for change for interoperable meta-services. 
                        Distinctively re-engineer revolutionary meta-services and premium architectures.
                        Intrinsically incubate intuitive opportunities and real-time potentialities. 
                        Appropriately communicate one-to-one technology.
                    </p>
                    <p class="text-muted fs-6 fw-semibold">
                        Quickly drive clicks-and-mortar catalysts for change before vertical architectures. 
                        Credibly reintermediate backend ideas for cross-platform models. 
                        Holistically foster superior methodologies without market-driven best practices.
                    </p>
                </div>
              </div>
              <div class="intro">
                <p class="text-muted fs-6 fw-semibold">
                    Globally incubate standards compliant channels before scalable benefits. 
                    Quickly disseminate superior deliverables whereas web-enabled applications. 
                    Quickly drive clicks-and-mortar catalysts for change before vertical architectures. 
                    Credibly reintermediate backend ideas for cross-platform models. 
                    Holistically foster superior methodologies without market-driven best practices.
                </p>
                <div class="title1">
                    <div class="title1" id="heading3">
                        <p class="title text-blue fs-4 fw-bold">
                        The best option
                    </p>
                    </div>
                    <p class="text-muted fs-6 fw-semibold">
                        Progressively maintain extensive infomediaries via extensible niches. 
                        Dramatically disseminate standardized metrics after resource-leveling processes. 
                        Objectively pursue diverse catalysts for change for interoperable meta-services. 
                        Distinctively re-engineer revolutionary meta-services and premium architectures. 
                        Intrinsically incubate intuitive opportunities and real-time potentialities. 
                        Appropriately communicate one-to-one technology.
                    </p>
                    <p class="text-muted fs-6 fw-semibold">
                        Dynamically reinvent market-driven opportunities and ubiquitous interfaces. 
                        Energistically fabricate an expanded array of niche markets through robust products.
                        Appropriately implement visionary e-services vis-a-vis strategic web-readiness.
                    </p>
                    <div class="title1" id="heading4">
                        <p class="title text-blue fs-4 fw-bold">
                            make it easy
                    </p>
                    </div>
                    <p class="text-muted fs-6 fw-semibold">
                        Objectively pursue diverse catalysts for change for interoperable meta-services. 
                        Distinctively re-engineer revolutionary meta-services and premium architectures.
                        Intrinsically incubate intuitive opportunities and real-time potentialities. 
                        Appropriately communicate one-to-one technology.
                    </p>
                    <p class="text-muted fs-6 fw-semibold">
                        Quickly drive clicks-and-mortar catalysts for change before vertical architectures. 
                        Credibly reintermediate backend ideas for cross-platform models. 
                        Holistically foster superior methodologies without market-driven best practices.
                    </p>
                </div>
              </div>
              <div class="intro">
                <p class="text-muted fs-6 fw-semibold">
                    Globally incubate standards compliant channels before scalable benefits. 
                    Quickly disseminate superior deliverables whereas web-enabled applications. 
                    Quickly drive clicks-and-mortar catalysts for change before vertical architectures. 
                    Credibly reintermediate backend ideas for cross-platform models. 
                    Holistically foster superior methodologies without market-driven best practices.
                </p>
                <div class="title1">
                    <div class="title1" id="heading5">
                        <p class="title text-blue fs-4 fw-bold">
                        impress your audience
                    </p>
                    </div>
                    <p class="text-muted fs-6 fw-semibold">
                        Progressively maintain extensive infomediaries via extensible niches. 
                        Dramatically disseminate standardized metrics after resource-leveling processes. 
                        Objectively pursue diverse catalysts for change for interoperable meta-services. 
                        Distinctively re-engineer revolutionary meta-services and premium architectures. 
                        Intrinsically incubate intuitive opportunities and real-time potentialities. 
                        Appropriately communicate one-to-one technology.
                    </p>
                    <p class="text-muted fs-6 fw-semibold">
                        Dynamically reinvent market-driven opportunities and ubiquitous interfaces. 
                        Energistically fabricate an expanded array of niche markets through robust products.
                        Appropriately implement visionary e-services vis-a-vis strategic web-readiness.
                    </p>
                    <div class="title1" id="heading6">
                    <p class="title text-blue fs-4 fw-bold">
                        Match your brand
                    </p>
                    </div>
                    <p class="text-muted fs-6 fw-semibold">
                        Objectively pursue diverse catalysts for change for interoperable meta-services. 
                        Distinctively re-engineer revolutionary meta-services and premium architectures.
                        Intrinsically incubate intuitive opportunities and real-time potentialities. 
                        Appropriately communicate one-to-one technology.
                    </p>
                    <p class="text-muted fs-6 fw-semibold">
                        Quickly drive clicks-and-mortar catalysts for change before vertical architectures. 
                        Credibly reintermediate backend ideas for cross-platform models. 
                        Holistically foster superior methodologies without market-driven best practices.
                    </p>
                </div>
              </div>


 <!-- more blog content as needed --> 
            </div>
        
            <!-- Right side:  -->
            <div class="col-md-3 ms-7 d-none d-md-block">
              <div class="card fixed-right  mt-3">
                <div class="card-body ms-5">
                  <h5 class="card-title mt-3">Content Headings</h5>
                  <ul class="list-unstyled ">
                    <li class="mt-3 "><a a class="text-blue" [routerLink]="[]"  fragment="heading1" >The subtle tricks</a></li>
                    <li class="mt-3"><a a class="text-blue" [routerLink]="[]"  fragment="heading2" >The best option</a></li>
                    <li class="mt-3"><a class="text-blue" [routerLink]="[]" fragment="heading3" >Definition of success</a></li>
                    <li class="mt-3"><a a class="text-blue" [routerLink]="[]"  fragment="heading4" >Make it easy</a></li> 
                    <li class="mt-3"><a a class="text-blue" [routerLink]="[]"  fragment="heading5" >Impress your audience</a></li> 
                    <li class="mt-3"><a a class="text-blue" [routerLink]="[]"  fragment="heading6" >Match your brand</a></li> 
                    <!-- Add more headings if needed -->
                  </ul>
                </div>
              </div>
            </div>
          </div>
       </div>
</div>

<app-footer></app-footer>

