<div class="container-fluid " id="footer" >

  <footer class=" text-center text-lg-start text-primary border-bottom border-2 border-dark-subtle">
    <div class="container p-4">
      <!-- 1st row -->
      <div class="row nav-row mt-3 ">
        <div class="col-md-9 nav-links ">
          <ul class="nav-list">
            <li class="ms-3"><a href="#">من نحن</a></li>
            <li class="ms-3"><a href="#" >الخدمات</a></li>
            <li class="ms-3"><a href="#">خطط الأسعار</a></li>
            <li class="ms-3"><a href="#">الخصوصية</a></li>
            <li class="ms-3"><a href="#">تواصل معنا</a></li>
          </ul>
        </div>
        <div class="col-md-3 social-icons text-right">
          <a href="https://www.facebook.com/profile.php?id=61565874984449&mibextid=ZbWKwL" target="_blank" class="icon"><i class="fab fa-facebook-f"></i></a>
          <a href="https://x.com/ugetic131494?t=kOKyL29iGRu8iv9bByZzwg&s=09" target="_blank" class="icon"><i class="fab fa-twitter"></i></a>
          <a href="https://www.linkedin.com/" target="_blank" class="icon"><i class="fab fa-linkedin-in"></i></a>
          <a href="https://www.youtube.com/@ugetic-systems" class="icon" target="_blank"><i class="fa-brands fa-youtube"></i></a>
          <a href="https://www.instagram.com/ugetic.systems/?igsh=cnM1aWc0YWZrZjho#" class="icon" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        </div>
      </div>
        <hr class="text-white">

        <!-- 2nd row -->
      <div class="row my-5">
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <div class="logo-text">
            <h5 class="text-white text-end ">يوجتيك</h5>
            <p class="text-white mt-3 text-end">
              {{"footer.solgan"|translate}}
            </p>
          </div>

        </div>

        <!--Grid column-->
        <div class="col-lg-2 col-md-6 mb-4 mb-md-0  " >

          <ul class="list-unstyled text-end">
            <li class="mb-2">
              <a href="#!" class="footer-element ">{{"footer.about.company"|translate}}</a>
            </li> <br>
            <li class="mb-2">
              <a href="#!" class="footer-element ">{{"footer.about.who-we-are"|translate}}</a>
            </li> <br>
            <li class="mb-2">
              <a href="#!" class="footer-element "> {{"footer.about.our-services"|translate}}</a>
            </li> <br>
            <li class="mb-2">
              <a href="#!" class="footer-element ">{{"footer.about.our-clients"|translate}}</a>
            </li> <br>
            <li class="mb-2">
              <a href="#!" class="footer-element ">{{"footer.about.blogs"|translate}}</a>
            </li>

          </ul>
        </div>

        <!--Grid column-->
        <div class="col-lg-2 col-md-6 mb-4 mb-md-0 ">
          <ul class="list-unstyled text-end ">
            <li class="mb-2">
              <a href="#!" class="footer-element ">{{"footer.programs.header"|translate}}</a>
            </li> <br>
            <li class="mb-2">
              <a href="#!" class="footer-element ">{{"footer.programs.item1"|translate}}</a>
            </li> <br>
            <li class="mb-2">
              <a href="#!" class="footer-element ">{{"footer.programs.item2"|translate}}</a>
            </li> <br>
            <li class="mb-2">
              <a href="#!" class="footer-element ">{{"footer.programs.item3"|translate}}</a>
            </li> <br>
            <li class="mb-2">
              <a href="#!" class="footer-element ">{{"footer.programs.item4"|translate}}</a>
            </li>

          </ul>
        </div>
          <!--Grid column-->
          <div class="col-lg-2 col-md-6 mb-4 mb-md-0 ">  
            <ul class="list-unstyled text-end">
              <li class="mb-2">
                <a href="#!" class="footer-element ">{{"footer.downloads.header"|translate}}</a>
              </li> <br>
              <li class="mb-2">
                <a href="#!" class="footer-element ">{{"footer.downloads.item1"|translate}}</a>
              </li> <br>
              <li class="mb-2">
                <a href="#!" class="footer-element ">{{"footer.downloads.item2"|translate}}</a>
              </li> <br>
             
  
            </ul>
          </div>

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0 text-end">
          <ul class="list-unstyled text-end">
            <li >
              <p class="footer-element">
                {{"footer.contacts.header"|translate}}
              </p>
            </li>
            <li>
              <p class="footer-element">
                  {{"footer.contacts.cairo-branch.header"|translate}}
                </p>
                <p class="footer-element text-end">
                  {{"footer.contacts.cairo-branch.address"|translate}}

                </p>
                <p class="footer-element">
                  {{"footer.contacts.cairo-branch.phone"|translate}}

                </p>
            </li>
            <li>
              <p class="footer-element">
                  {{"footer.contacts.kfs-branch.header"|translate}}
                </p>
                <p class="footer-element">
                  {{"footer.contacts.kfs-branch.address"|translate}}

                </p>
                <p class="footer-element">
                  {{"footer.contacts.kfs-branch.phone"|translate}}

                </p>
            </li>
          

          </ul>
        </div>
      </div>
      <hr class="text-white">
    <!-- 3rd row -->
    <div class="row nav-row mt-3 ">
      <div class="col-md-9 nav-links ">
        <div class="nav-list">
          <p class="text-white">
            جميع الحقوق محفوظة لدى شركة يوجيتك 2024
          </p>
        </div>
      </div>
      <div class="col-md-3">
        <ul class="footer-links ">
          <li><a href="#">سياسة الاستخدام</a></li>
          <li><a href="#">سياسة الخصوصية</a></li>
        </ul>
      </div>
      
    </div>
    </div>



  </footer>


</div>
