<div class="container-fluid " id="footer">

  <footer class=" text-center text-lg-start text-primary border-bottom border-2 border-dark-subtle">
    <div class="container p-4">
      <div class="row my-4">
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">

          <div class="footer-logo">
            <img src="../../../assets/images/logo/ugitec-logo-white.png" alt="logo.png" />
          </div>
          <div class="logo-text">
            <p class="text-white mt-2">
              Our feet are on the ground, but our ambitions are above the clouds. Here is how we move from the getting to know you phase to creating something remarkable.
            </p>
          </div>

        </div>

        <!--Grid column-->
        <div class="col-lg-2 col-md-6 mb-4 mb-md-0 ">
          <p class="fs-5 mb-4 footer-header ">About us</p>

          <ul class="list-unstyled">
            <li class="mb-2">
              <a href="#!" class="footer-element ">About Ugetic</a>
            </li> <br>
            <li class="mb-2">
              <a href="#!" class="footer-element ">Plans & Pricing</a>
            </li> <br>
            <li class="mb-2">
              <a href="#!" class="footer-element ">Service</a>
            </li> <br>
            <li class="mb-2">
              <a href="#!" class="footer-element ">Blog</a>
            </li>

          </ul>
        </div>

        <!--Grid column-->
        <div class="col-lg-2 col-md-6 mb-4 mb-md-0 ">
          <p class="fs-5 mb-4 footer-header ">{{"Products"|translate}}</p>

          <ul class="list-unstyled">
            <li class="mb-2">
              <a href="#!" class="footer-element ">{{"Primary blocks"|translate}}</a>
            </li> <br>
            <li class="mb-2">
              <a href="#!" class="footer-element ">{{"Content blocks"|translate}}</a>
            </li> <br>
            <li class="mb-2">
              <a href="#!" class="footer-element ">{{"Infographic blocks"|translate}}</a>
            </li> <br>
            <li class="mb-2">
              <a href="#!" class="footer-element ">{{"Busniess blocks"|translate}}</a>
            </li>

          </ul>
        </div>
          <!--Grid column-->
          <div class="col-lg-2 col-md-6 mb-4 mb-md-0 ">
            <p class="fs-5 mb-4 footer-header ">{{"Resources"|translate}}</p>
  
            <ul class="list-unstyled">
              <li class="mb-2">
                <a href="#!" class="footer-element ">{{"Support center"|translate}}</a>
              </li> <br>
              <li class="mb-2">
                <a href="#!" class="footer-element ">{{"Documentation "|translate}}</a>
              </li> <br>
              <li class="mb-2">
                <a href="#!" class="footer-element ">{{"Newsletter"|translate}}</a>
              </li> <br>
              <li class="mb-2">
                <a href="#!" class="footer-element ">{{"Changelog "|translate}}</a>
              </li>
  
            </ul>
          </div>

        <!--Grid column-->
        <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
          <p class=" fs-5  mb-4 footer-header">{{"Contact"|translate}}</p>

          <ul class="list-unstyled">
            <li>
              <p class="footer-element">
                  {{"New York. 112 W 34th St, Manhattan"|translate}}</p>
            </li>
            <li>
              <p class="footer-element">(1) 212-445-4320</p>
            </li>
          

          </ul>
        </div>
      </div>
    </div>



  </footer>


</div>
