<div class="container-fluid " id="footer">

  <footer class=" text-center text-lg-start text-primary border-bottom border-2 border-dark-subtle">
    <div class="container p-4">
      <!-- 1st row -->
      <div class="row nav-row mt-3 ">
        <div class="col-md-9 nav-links ">
          <ul class="nav-list">
            <li class="ms-3"><a href="#">من نحن</a></li>
            <li class="ms-3"><a href="#" >الخدمات</a></li>
            <li class="ms-3"><a href="#">خطط الأسعار</a></li>
            <li class="ms-3"><a href="#">الخصوصية</a></li>
            <li class="ms-3"><a href="#">تواصل معنا</a></li>
          </ul>
        </div>
        <div class="col-md-3 social-icons text-right">
          <a href="#" class="icon"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="icon"><i class="fab fa-twitter"></i></a>
          <a href="#" class="icon"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
        <hr class="text-white">

        <!-- 2nd row -->
      <div class="row my-5">
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">

          <!-- <div class="footer-logo">
            <img src="../../../assets/images/logo/ugitec-logo-white.png" alt="logo.png" />
          </div> -->
          <div class="logo-text">
            <h5 class="text-white text-end">يوجتيك</h5>
            <p class="text-white mt-2">
              {{"footer.solgan"|translate}}
            </p>
          </div>

        </div>

        <!--Grid column-->
        <div class="col-lg-2 col-md-6 mb-4 mb-md-0 ">
          <p class="fs-5 mb-4 footer-header ">About us</p>

          <ul class="list-unstyled">
            <li class="mb-2">
              <a href="#!" class="footer-element ">About Ugetic</a>
            </li> <br>
            <li class="mb-2">
              <a href="#!" class="footer-element ">Plans & Pricing</a>
            </li> <br>
            <li class="mb-2">
              <a href="#!" class="footer-element ">Service</a>
            </li> <br>
            <li class="mb-2">
              <a href="#!" class="footer-element ">Blog</a>
            </li>

          </ul>
        </div>

        <!--Grid column-->
        <div class="col-lg-2 col-md-6 mb-4 mb-md-0 ">
          <p class="fs-5 mb-4 footer-header ">{{"Products"|translate}}</p>

          <ul class="list-unstyled">
            <li class="mb-2">
              <a href="#!" class="footer-element ">{{"Primary blocks"|translate}}</a>
            </li> <br>
            <li class="mb-2">
              <a href="#!" class="footer-element ">{{"Content blocks"|translate}}</a>
            </li> <br>
            <li class="mb-2">
              <a href="#!" class="footer-element ">{{"Infographic blocks"|translate}}</a>
            </li> <br>
            <li class="mb-2">
              <a href="#!" class="footer-element ">{{"Busniess blocks"|translate}}</a>
            </li>

          </ul>
        </div>
          <!--Grid column-->
          <div class="col-lg-2 col-md-6 mb-4 mb-md-0 ">
            <p class="fs-5 mb-4 footer-header ">{{"Resources"|translate}}</p>
  
            <ul class="list-unstyled">
              <li class="mb-2">
                <a href="#!" class="footer-element ">{{"Support center"|translate}}</a>
              </li> <br>
              <li class="mb-2">
                <a href="#!" class="footer-element ">{{"Documentation "|translate}}</a>
              </li> <br>
              <li class="mb-2">
                <a href="#!" class="footer-element ">{{"Newsletter"|translate}}</a>
              </li> <br>
              <li class="mb-2">
                <a href="#!" class="footer-element ">{{"Changelog "|translate}}</a>
              </li>
  
            </ul>
          </div>

        <!--Grid column-->
        <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
          <p class=" fs-5  mb-4 footer-header">{{"Contact"|translate}}</p>

          <ul class="list-unstyled">
            <li>
              <p class="footer-element">
                  {{"New York. 112 W 34th St, Manhattan"|translate}}</p>
            </li>
            <li>
              <p class="footer-element">(1) 212-445-4320</p>
            </li>
          

          </ul>
        </div>
      </div>
      <hr class="text-white">
    <!-- 3rd row -->
    <div class="row nav-row mt-3 ">
      <div class="col-md-9 nav-links ">
        <div class="nav-list">
          <p class="text-white">
            جميع الحقوق محفوظة لدى شركة يوجيتك 2024
          </p>
        </div>
      </div>
      <div class="col-md-3">
        <ul class="footer-links ">
          <li><a href="#">سياسة الاستخدام</a></li>
          <li><a href="#">سياسة الخصوصية</a></li>
        </ul>
      </div>
      
    </div>
    </div>



  </footer>


</div>
