<nav class="navbar navbar-expand-lg navbar-dark fixed-top title-font" 
     [ngClass]="{'navbar-scrolled': navbarScrolled}">
  <div class="container">
    <!-- Logo -->
    <a class="navbar-brand" routerLink="/home">
      <img [src]="logo" alt="Logo" class="d-inline-block align-top">
    </a>

    <!-- Language Selector (moved inside the navbar-collapse to align better) -->
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item me-3">
          <a class="nav-link text-white" routerLink="/home">{{"Home" | translate}}</a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link text-white" routerLink="/about-us">{{"aboutUs" | translate}}</a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link text-white" routerLink="/services">{{"Services" | translate}}</a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link text-white" routerLink="/pricing">{{"Pricing" | translate}}</a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link text-white" routerLink="/blog">{{"Blogs" | translate}}</a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link text-white" routerLink="/contact-us">{{"ContactUs" | translate}}</a>
        </li>

        <!-- Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" id="navbarDropdown" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">
            <img [src]="currentLanguageImage" alt="Language Flag" class="dropdown-flag">
            <!-- {{"Language" | translate}} -->
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" (click)="transalte('en')">{{"English" | translate}}</a></li>
            <li><a class="dropdown-item" (click)="transalte('ar')">{{"Arabic" | translate}}</a></li>
          </ul>
        </li>
        <!-- search bar -->
        <nav>
          <ul class="nav">
            <li class="nav-item me-3" (click)="toggleSearchBox($event)"> 
              <i class="fa-solid fa-magnifying-glass mt-3 text-white icon"></i>
            </li>
          </ul>
          <div class="box" *ngIf="isSearchBoxVisible" [ngClass]="{'expanded': isExpanded}">
            <div class="icon-container">
              <i class="fa-solid fa-magnifying-glass text-dark"></i>
              <input type="text" [attr.placeholder]="currentPlaceholder" />
            </div>
          </div>
        </nav>
        
        
        

        
        
        
        
        
        
        
        
        
        
        

        <li class="nav-item  ms-3">
          <button class="signup " routerLink="/login">{{"SignIn / SignUp" | translate}}</button>
        </li>
      </ul>
    </div>

    <!-- Toggler for small screens -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
