<div class="row  " id="bg-img">
    <!-- text -->
    <div class="col-4 mt-7 ">
        <div class="container mt-5 ms-5">
            <div class="dynamic-text">
                <p class="font-bold mt-5 text-white header ms-5 ">
                    All-in-one app.
                </p>
                <div class="rotating-text">
                    <p class="font-bold text-white ms-5">Time tracking.</p>
                    <p class="font-bold text-white ms-5">Smart goals.</p>
                    <p class="font-bold text-white ms-5">Detailed reports.</p>
                    <p class="font-bold text-white ms-5">Real time alerts.</p>

                </div>
            </div>
          
            
                <div class="static-text container">
                    <p class="text-white ms-6 fw-semibold">
                        Get organized. Sway is an easy-to-use tool to organize your
                        ideas and projects into visual boards
                                            </p>
                </div>

                <div class="buttons mt-5">
                    <div class="row container">
                        <div class="col-5 ms-6">
                            <button class="button1">Start free trial</button>
                        </div>
                        <div class="col-4 ">
                            <button class="button2">How it works</button>
                        </div>
                    </div>

                </div>
              </div>
            </div>
        
    <div class="col-8 app mt-7 ">
        <img  class="mt-7" src="../../../assets/images/home/sass1.png">
    </div>
</div>

