* {
  overflow: hidden;
}

#bg-img {
  background-image: url("../../../assets/images/home/home-bg.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
}


.ms-lg-6 {
  margin-left: 5.5rem !important;
}

.ms-xl-6 {
  margin-left: 0 !important;
  /* Remove the left margin on mobile */
}

.app img {
  margin-left: 120px;
  width: 100%;
}

.dynamic-text {
  font-size: 40px;
  font-weight: bold;
  margin: 12%;
}

@media (max-width: 992px) {
  .dynamic-text {
    font-size: 28px;
    margin: 8%;
  }

  .static-text p {
    font-size: 17px !important;
    margin-left: 1.8rem !important;
  }

  .buttons {
    margin-left: 2.8rem;

  }

  .app img {
    margin-top: 0 !important;
    width: 100%;

  }

  .mt-7 {
    margin-top: 0 !important;
  }

  .ms-lg-5-5 {
    margin-left: 0 !important;
  }
  .ms-lg-6{
    margin-left: 0 !important;
  }
}

@media (max-width: 576px) {
  .dynamic-text {
    font-size: 28px;
    margin: 12%;
  }

  .static-text p {
    font-size: 17px !important;
    margin-left: 1.8rem;
  }

  .buttons {
    margin-left: 1.8rem;
  }

  .button1 {
    width: 75% !important;
  }

  .button2 {
    width: 70% !important;
  }

  .app img {
    width: 100%;

  }

  .mt-7 {
    margin-top: 0 !important;
  }

  .ms-lg-5-5 {
    margin-left: 0 !important;
  }
  .ms-lg-6{
    margin-left: 0 !important;
  }

}

.button1 {
  background: #d3a00f;
  border: 1px solid #d3a00f;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 16px;
  min-height: 55px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 90%;
}

.button1:hover,
.button1:active {
  background-color: white;
  background-position: 0 0;
  color: #d3a00f;
}

.button1:active {
  opacity: .5;
}


.button2 {
  background: white;
  border: 1px solid #d3a00f;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #d3a00f;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 16px;
  min-height: 55px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 97%;
}

.button2:hover,
.button2:active {
  background-color: #d3a00f;
  background-position: 0 0;
  color: white;
}

.button2:active {
  opacity: .5;
}


.mt-6 {
  margin-top: 6rem;
}

.rotating-text {
  position: relative;
  overflow: hidden;
  height: 2em;
}

.rotating-text p {
  position: absolute;
  width: 100%;
  opacity: 0;
  animation: rotate 6s infinite;
}

@keyframes rotate {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  10% {
    opacity: 1;
    transform: translateY(0);
  }

  25% {
    opacity: 1;
    transform: translateY(0);
  }

  35% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

/* Delay for each text */
.rotating-text p:nth-child(1) {
  animation-delay: 0s;
}

.rotating-text p:nth-child(2) {
  animation-delay: 1.5s;
}

.rotating-text p:nth-child(3) {
  animation-delay: 3s;
  /* Reduced timing */
}

.rotating-text p:nth-child(4) {
  animation-delay: 4.5s;
  /* Reduced timing */
}

.mt-7 {
  margin-top: 6.5rem;
}

.static-text p {
  font-size: 18px;
}

.ms-lg-5-5 {
  margin-left: 2rem;
}