.bg-img {
    background-color: #777af212 ; 
    height: 500px; 
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}