<app-navbar></app-navbar>
<div class="container-fluid position-relative">
    <!-- part 1 -->
    <div class="bg-img position-relative">
        <div class="position-absolute top-50 start-50 translate-middle text-center text-blue d-flex flex-column align-items-center">
             <p class="fw-bold fs-1"></p>
            <p class="fs-1 fw-semibold mb-4">Privacy policy</p>
            <p class="fs-5 mb-0">This Privacy Policy was last updated on May 20, 2020. If there will be any update,</p>
            <p class="fs-5 ">amendment, or changes to our Privacy Policy then these will be posted on this page </p>
         </div>
    </div> 

    <!-- content -->
    <div class="container ">
        <div class="row mt-7">
            <!-- Left side: Blog content -->
            <div class="col-md-7 col-11 ms-3 blog-content ">
              
              <div class="intro">
                <p class="fw-bold text-blue mb-0 fs-3" id="heading1">General information</p>
                <p class="text-muted fs-6 mt-3 fw-semibold mb-5">
                    One of our main priorities is the privacy of our visitors. 
                    This Privacy Policy document contains types of information that is collected and recorded by KeyDesign and how we use it. 
                    If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us through email at Incubator. 
                    An example of a privacy policy can be found at buyproxies.io.
                </p>
                <div class="title1" id="heading2">
                  <p class="fw-bold text-blue fs-4 mt-5" >
                    Log files

                    </p>
                    <div class="icons-text">
                        <div class="d-flex flex-column ms-1  ">
                            <!-- First Icon and Text -->
                            <div class="d-flex align-items-center w-100 mb-2 mt-4">
                              <i class="fa-solid fa-circle-check me-2" style="color: #132f55;"></i>
                              <span class="fw-semibold" style="color: #132f55;">internet protocol (IP) addresses</span>
                            </div>
                          
                            <!-- Second Icon and Text -->
                            <div class="d-flex align-items-center w-100 mb-2 mt-2">
                              <i class="fa-solid fa-circle-check me-2" style="color: #132f55;"></i>
                              <span class="fw-semibold" style="color: #132f55;">browser type, Internet Service Provider (ISP)</span>
                            </div>
                          
                            <!-- Third Icon and Text -->
                            <div class="d-flex align-items-center w-100 mb-2 mt-2">
                              <i class="fa-solid fa-circle-check me-2" style="color: #132f55;"></i>
                              <span class="fw-semibold" style="color: #132f55;">date and time stamp, referring/exit pages</span>
                            </div>
                          
                            <!-- Fourth Icon and Text -->
                            <div class="d-flex align-items-center w-100 mb-2 mt-2">
                              <i class="fa-solid fa-circle-check me-2" style="color: #132f55;"></i>
                              <span class="fw-semibold" style="color: #132f55;">possibly the number of clicks</span>
                            </div>
                        </div>
                    </div>
                   
                    <div class="title1" id="heading3">
                        <p class="title text-blue fs-4 fw-bold my-5">
                            Privacy policies
                        </p>
                    </div>
                    <p class="text-muted fs-6 fw-semibold">
                        You may consult this list to find the Privacy Policy for each of the advertising partners of Incubator. 
                        Third-party ad servers or ad networks uses technologies like cookies, JavaScript, 
                        or Web Beacons that are used in their respective advertisements and links that appear on Incubator, which are sent directly to users’ browser. 
                        They automatically receive your IP address when this occurs. 
                        These technologies are used to measure the effectiveness of their advertising campaigns 
                        and/or to personalize the advertising content that you see on websites that you visit. 
                        Note that KeyDesign has no access to or control over these cookies that are used by third-party advertisers.
                    </p>
                  
                </div>
              </div>
              <div class="intro">
                <div class="title1">
                    <div class="title1" id="heading4">
                        <p class="title text-blue fs-4 fw-bold my-5">
                            Third party policies
                        </p>
                    </div>
                    <p class="text-muted fs-6 fw-semibold">
                        Incubator’s Privacy Policy does not apply to other advertisers or websites. 
                        Thus, we are advising you to consult the respective Privacy Policies of these third-party ad servers for more detailed information. 
                        It may include their practices and instructions about how to opt-out of certain options. 
                        You may find a complete list of these Privacy Policies and their links here: Privacy Policy Links. 
                        You can choose to disable cookies through your individual browser options. 
                        To know more detailed information about cookie management with specific web browsers, 
                        it can be found at the browsers’ respective websites. 
                        What Are Cookies?
                    </p>
                   
                    <div class="title1" id="heading5">
                        <p class="title text-blue fs-4 fw-bold my-5">
                            Children Information
                        </p>
                    </div>
                    <p class="text-muted fs-6 fw-semibold">
                        Another part of our priority is adding protection for children while using the internet. 
                        We encourage parents and guardians to observe, participate in, and/or monitor and guide their online activity. 
                        Incubator does not knowingly collect any Personal Identifiable Information from children under the age of 13. 
                        If you think that your child provided this kind of information on our website, 
                        we h3ly encourage you to contact us immediately and we will do our best efforts to promptly remove such information from our records.
                    </p>
                </div>
              </div>
              <div class="intro">
                <div class="title1">
                    <div class="title1" id="heading6">
                        <p class="title text-blue fs-4 fw-bold my-5">
                            Online privacy
                        </p>
                    </div>
                    <p class="text-muted fs-6 fw-semibold">
                        This privacy policy applies only to our online activities and is valid for visitors to our website with regards to the information that they shared and/or collect in KeyDesign. 
                        This policy is not applicable to any information collected offline or via channels other than this website. 
                        By using our website, you hereby consent to our Privacy Policy and agree to its Terms and Conditions.
                    </p>
                </div>
              </div>


 <!-- more content --> 
            </div>
        
            <!-- Right side:  -->
            <div class="col-md-3 ms-7 d-none d-md-block">
              <div class="card fixed-right  mt-3 mb-5">
                <div class="card-body ms-5">
                  <h5 class="card-title mt-3">Content Headings</h5>
                  <ul class="list-unstyled ">
                    <li class="mt-3 "><a a class="text-blue" [routerLink]="[]"  fragment="heading1" >General information</a></li>
                    <li class="mt-3"><a a class="text-blue" [routerLink]="[]"  fragment="heading2" >Log files</a></li>
                    <li class="mt-3"><a class="text-blue" [routerLink]="[]" fragment="heading3" >Privacy policies</a></li>
                    <li class="mt-3"><a a class="text-blue" [routerLink]="[]"  fragment="heading4" >Third party policies</a></li> 
                    <li class="mt-3"><a a class="text-blue" [routerLink]="[]"  fragment="heading5" >Children Information</a></li> 
                    <li class="mt-3"><a a class="text-blue" [routerLink]="[]"  fragment="heading6" >Online privacy</a></li> 
                    <!-- Add more headings if needed -->
                  </ul>
                </div>
              </div>
            </div>
          </div>
       </div>
</div>
<app-footer class="mt-5"></app-footer>