<div class=" container-fluid ">
<div class=" trusted-by mt-5">
    <section class="customer-logos mt-5 slider">
        <div class="slide"><img src="../../../assets/images/home/trusted/saas-logo1.png" alt="logo"></div>
        <div class="slide"><img src="../../../assets/images/home/trusted/saas-logo2.png" alt="logo"></div>
        <div class="slide"><img src="../../../assets/images/home/trusted/saas-logo3.png" alt="logo"></div>
        <div class="slide"><img src="../../../assets/images/home/trusted/saas-logo4.png" alt="logo"></div>
        <div class="slide"><img src="../../../assets/images/home/trusted/saas-logo5.png" alt="logo"></div>
    </section>
</div>

</div>






