<div class="container" id="bg-section">
    <div class="row mt-5">
        <div class="text-center">
            <p class="text-secondary mb-0 fw-bold fs-5">
                    {{"contact-us.cards.header"|translate}}
            </p>
            <p class="text-blue fw-semibold mb-0 mt-4 fs-2">
                {{"contact-us.cards.desc1"|translate}}

            </p>
            <p class=" text-blue fw-semibold fs-2">
                {{"contact-us.cards.desc2"|translate}}

            </p>
        </div>

    </div>
    <!-- cards -->
    <div class="container">
        <div class="row mt-5 justify-content-center"> 
            <div class="col-12 col-md-3 mb-4">
                <div class="card text-center shadow border-0 h-100 hover-shadow custom-card"> 
                    <div class="card-body">
                        <i class="fa-brands fa-rocketchat fa-2x mb-3 mt-5" style="color: #21416f;"></i> 
                        <h5 class="card-title" style="color: #132f55;">
                            {{"contact-us.cards.card1.title"|translate}}  
                        </h5>
                        <p class="card-text text-secondary fw-semibold">
                            {{"contact-us.cards.card1.desc1"|translate}}  

                        </p>
                        <!-- <p class="text-center">
                            <a routerLink="" class="text-mint fw-semibold text-decoration-none">Read more</a>
                        </p> -->
                        <p class="card-text text-secondary fw-semibold">
                            {{"contact-us.cards.card1.desc2"|translate}}  

                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3 mb-4">
                <div class="card text-center shadow border-0 h-100 hover-shadow custom-card"> 
                    <div class="card-body">
                        <i class="fa-solid fa-phone-volume fa-2x mb-3 mt-5" style="color: #21416f;"></i> 
                        <h5 class="card-title" style="color: #132f55;">
                            {{"contact-us.cards.card2.title"|translate}}  
                        </h5>
                        <p class="card-text text-secondary fw-semibold">
                            {{"contact-us.cards.card2.desc1"|translate}}  

                        </p>
                        <!-- <p class="text-center">
                            <a routerLink="" class="text-mint fw-semibold text-decoration-none">Read more</a>
                        </p> -->
                        <p class="card-text text-secondary fw-semibold">
                            {{"contact-us.cards.card2.desc2"|translate}}  

                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3 mb-4">
                <div class="card text-center shadow border-0 h-100 hover-shadow custom-card"> <!-- Add custom-card class -->
                    <div class="card-body">
                        <i class="fa-brands fa-facebook fa-2x mb-3 mt-5" style="color: #21416f;"></i> 
                        <h5 class="card-title" style="color: #132f55;">
                            {{"contact-us.cards.card3.title"|translate}}  
                        </h5>                        
                        <p class="card-text text-secondary fw-semibold">
                            {{"contact-us.cards.card3.desc1"|translate}}  

                        </p>
                        <!-- <p class="text-center">
                            <a routerLink="" class="text-mint fw-semibold text-decoration-none">Read more</a>
                        </p> -->
                        <p class="card-text text-secondary fw-semibold">
                            {{"contact-us.cards.card3.desc2"|translate}}  

                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3 mb-4">
                <div class="card text-center shadow border-0 h-100 hover-shadow custom-card"> <!-- Add custom-card class -->
                    <div class="card-body">
                        <i class="fa-solid fa-headset fa-2x mb-3 mt-5" style="color: #21416f;"></i> 
                        <h5 class="card-title" style="color: #132f55;">
                            {{"contact-us.cards.card4.title"|translate}}  
                        </h5>                        
                        <p class="card-text text-secondary fw-semibold">
                            {{"contact-us.cards.card4.desc1"|translate}}  

                        </p>
                        <!-- <p class="text-center">
                            <a routerLink="" class="text-mint fw-semibold text-decoration-none">Read more</a>
                        </p> -->
                        <p class="card-text text-secondary fw-semibold">
                            {{"contact-us.cards.card4.desc2"|translate}}  

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>