<div class="container" id="bg-section">
    <div class="row mt-5">
        <div class="text-center">
            <p class="text-secondary mb-0 fw-bold fs-6">
                WE WORK SEAMLESSLY WITH OUR CLIENTS FOR THE LONG-TERM

            </p>
            <p class="text-blue fw-semibold mb-0 mt-4 fs-2">
                Give us a call or drop by anytime, we endeavor

            </p>
            <p class=" text-blue fw-semibold fs-2">
                to answer all inquiries within 24 hours.

            </p>
        </div>

    </div>
    <!-- cards -->
    <div class="container">
        <div class="row mt-5 justify-content-center"> <!-- Center align the row -->
            <div class="col-12 col-md-3 mb-4">
                <div class="card text-center shadow border-0 h-100 hover-shadow custom-card"> <!-- Add custom-card class -->
                    <div class="card-body">
                        <i class="fa-brands fa-rocketchat fa-2x mb-3 mt-5" style="color: #2fad9f;"></i> 
                        <h5 class="card-title" style="color: #132f55;">Quick Answers                        </h5>
                        <p class="card-text text-secondary fw-semibold">Find brief answers to your short questions here..</p>
                        <p class="text-center">
                            <a routerLink="" class="text-mint fw-semibold text-decoration-none">Read more</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3 mb-4">
                <div class="card text-center shadow border-0 h-100 hover-shadow custom-card"> <!-- Add custom-card class -->
                    <div class="card-body">
                        <i class="fa-solid fa-phone-volume fa-2x mb-3 mt-5" style="color: #2fad9f;"></i> 
                        <h5 class="card-title" style="color: #132f55;">Let's Talk</h5>
                        <p class="card-text text-secondary fw-semibold">Pick up the phone to chat with a member of our team</p>
                        <p class="text-center">
                            <a routerLink="" class="text-mint fw-semibold text-decoration-none">Call Us</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3 mb-4">
                <div class="card text-center shadow border-0 h-100 hover-shadow custom-card"> <!-- Add custom-card class -->
                    <div class="card-body">
                        <i class="fa-brands fa-facebook fa-2x mb-3 mt-5" style="color: #2fad9f;"></i> 
                        <h5 class="card-title" style="color: #132f55;">We are Social</h5>
                        <p class="card-text text-secondary fw-semibold">Get involved in making the dream a reality today.</p>
                        <p class="text-center">
                            <a routerLink="" class="text-mint fw-semibold text-decoration-none">Join our Community</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3 mb-4">
                <div class="card text-center shadow border-0 h-100 hover-shadow custom-card"> <!-- Add custom-card class -->
                    <div class="card-body">
                        <i class="fa-solid fa-headset fa-2x mb-3 mt-5" style="color: #2fad9f;"></i> 
                        <h5 class="card-title" style="color: #132f55;">Support</h5>
                        <p p class="card-text text-secondary fw-semibold">We're here to help with any questions or queries.</p>
                        <p class="text-center">
                            <a routerLink="" class="text-decoration-none text-mint fw-semibold ">Help & Support</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>