<app-navbar></app-navbar>
<app-eom-slider class="mb-5" id="home"></app-eom-slider>
<app-side-bar></app-side-bar>
<app-trusted-by class="mt-5"></app-trusted-by>
<app-eom-feature1 id="about"></app-eom-feature1>
<app-eom-feature-two-three  ></app-eom-feature-two-three>
<app-eom-tabs id="services"></app-eom-tabs>
<app-reviews></app-reviews>
<!-- call-to-action -->
<div class="container round bg  call-to-action">
    <div class="row">
        <div class="col-lg-6 col-sm-10">
            <p class="text-blue me-custome my-custom fs-4 fw-bold">
                لا تفوت الفرصة.. أنشأ حسابك الآن واستمتع ببرنامج إدارة المكاتب الهندسية  
                      </p>
        </div>

        <div class="col-lg-6 col-sm-10">
            <button class="button1 my-custom-btn">
                إنشأ حسابك
            </button>
        </div>
    </div>
</div>
<app-footer class="footer"></app-footer>


