<app-navbar/>
<div class="container-fluid position-relative">
    <!-- Background -->
    <div class="bg-img position-relative">
      <div class="position-absolute top-50 start-50 translate-middle text-center text-white d-flex flex-column align-items-center">
          <p class="fs-1 fw-bold mb-4 text-white">Log in to your account.</p>
      </div>
  </div>  
  <div class="container w-75" id="Contact-us" style="margin-top: -150px;"> 
      <div class="row">
          <!-- Left Column: Form -->
          <div class="col-md-6 d-flex flex-column align-items-center left-form ">
            <p class="mb-4 text-blue fs-3 text-center mt-5 fw-bold">
                Login to continue
            </p>
            <p class="mb-4 fs-6 text-center w-50 fw-semibold" style="color: #445781;">
                Please enter your username and password to log in
            </p>
            <form class="w-75 mt-4">
                <div class="mb-3">
                    <label for="username" class="form-label text-blue fw-semibold">Username or Email Address</label>
                    <input type="text" class="form-control input-bg" id="username" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label text-blue fw-semibold">Password</label>
                    <input type="password" class="form-control input-bg" id="password" required>
                </div>
        
                <!-- Remember me checkbox -->
                <div class="mb-3 form-check text-start">
                    <input type="checkbox" class="form-check-input" id="rememberMe">
                    <label class="form-check-label text-blue fw-semibold" for="rememberMe">Remember me</label>
                </div>
        
                <div class="text-center">
                    <button type="submit" class="btn button1"  >Login</button>
                </div>
            </form>
        </div>

        <!-- right col for register -->
        <div class="col-md-6 d-flex flex-column align-items-center right-form">
            <p class="mb-4 text-blue fs-3 text-center mt-5 fw-bold">
                New user create account
            </p>
            <p class="mb-4 fs-6 text-center w-50 fw-semibold" style="color: #445781;">
                create new account            </p>
            <form class="w-75 mt-4">
                <div class="mb-3">
                    <label for="username" class="form-label text-blue fw-semibold"> Email Address</label>
                    <input type="text" class="form-control input-bg" id="username" required>
                </div>
                <div class="mb-3">
                    <label for="username" class="form-label text-blue fw-semibold">Username </label>
                    <input type="text" class="form-control input-bg" id="username" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label text-blue fw-semibold">Password</label>
                    <input type="password" class="form-control input-bg" id="password" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label text-blue fw-semibold">Confirm Password</label>
                    <input type="password" class="form-control input-bg" id="password" required>
                </div>
        
                <!-- Remember me checkbox -->
                <!-- <div class="mb-3 form-check text-start">
                    <input type="checkbox" class="form-check-input" id="rememberMe">
                    <label class="form-check-label text-blue fw-semibold" for="rememberMe">Remember me</label>
                </div> -->
        
                <div class="text-center">
                    <button type="submit" class="btn button1"  >Register</button>
                </div>
            </form>
        </div>
        
  
          <!-- Right Column: Image -->
          <!-- <div class="col-md-6 image-column d-flex justify-content-center align-items-center">
              <img src="../../../assets/images/home/contact-us/contact-creative.jpg" alt="Contact Image" class="img-fluid"> 
          </div> -->
      </div>
  </div>    
  </div>
  <br><br><br>
  
<app-footer></app-footer>