<div class="container mt-5">
    <!-- feature2 -->
    <div class="row mt-5">
        <div class="col-7 mt-4" data-aos="fade-up" data-aos-delay="200"> 
            <img src="../../../assets/images/home/feature1.png" alt="feature1">
        </div>
        <div class="col-5 mt-5">
            <div class="feat-1-text mt-5">
                <div class="header mt-5">
                    <p class="fw-bold mt-5 ms-5">
                        You can invite anyone to view and edit your boards
                    </p>
                </div>
                <div class="middle ">
                    <p class="ms-5">
                        Get organized. Stay creative. When you're ready, 
                        you can invite anyone to view and edit your boards or
                        download a high-quality printable PDF.
                    </p>
                </div>
                <div class="icons-text">
                    <div class="d-flex flex-column ms-5 ">
                        <!-- First Icon and Text -->
                        <div class="d-flex align-items-center w-100 mb-2">
                          <i class="fa-solid fa-circle-check me-2" style="color: green;"></i>
                          <span class="fw-semibold" style="color: #132f55;">Write notes & to-do lists</span>
                        </div>
                      
                        <!-- Second Icon and Text -->
                        <div class="d-flex align-items-center w-100 mb-2">
                          <i class="fa-solid fa-circle-check me-2" style="color: green;"></i>
                          <span class="fw-semibold" style="color: #132f55;">Upload images & files</span>
                        </div>
                      
                        <!-- Third Icon and Text -->
                        <div class="d-flex align-items-center w-100 mb-2">
                          <i class="fa-solid fa-circle-check me-2" style="color: green;"></i>
                          <span class="fw-semibold" style="color: #132f55;">Save text, images & links</span>
                        </div>
                      
                        <!-- Fourth Icon and Text -->
                        <div class="d-flex align-items-center w-100 mb-2">
                          <i class="fa-solid fa-circle-check me-2" style="color: green;"></i>
                          <span class="fw-semibold" style="color: #132f55;">Edit together in real-time</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ------------------- -->

    <!-- feature3 -->
    <div class="row mt-5">
        <div class="col-6 mt-5">
            <div class="feat-1-text mt-5">
                <div class="header mt-5">
                    <p class="fw-bold mt-5 ms-5">
                        Add notes & photos from your tablet, phone or computer                    
                    </p>
                </div>
              
                <div class="icons-text">
                    <div class="d-flex flex-column ms-5 mt-5 ">
                        <!-- First Icon and Text -->
                        <div class="d-flex align-items-center w-100 mb-2 ">
                            <i class="fa-regular fa-window-restore fa-3x me-1"style="color: #2fad9f;"></i>
                            <span class="fw-semibold ms-1 fs-4" style="color: #132f55;">Drag & drop interface</span>
                        </div>
                        <p class="fw-semibold ms-5 text-secondary fs-5">
                            Anything you save will be ready to organize as soon as you're back at your computer.
                        </p>
                
                        <!-- Second Icon and Text -->
                        <div class="d-flex align-items-center w-100 mb-2">
                            <i class="fa-regular fa-share-from-square fa-3x mt-5" style="color: #2fad9f;"></i> 
                            <span class="fw-semibold ms-1 fs-4 mt-5" style="color: #132f55;">Share the result</span>
                        </div>
                        <p class="fw-semibold ms-5 text-secondary fs-5">
                            Anything you save will be ready to organize as soon as you're back at your computer.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-5 mt-4" data-aos="fade-up" data-aos-delay="200"> 
            <img src="../../../assets/images/home/feature2.png" alt="feature2">
        </div>
    </div>
</div>
