
.left-text p{
    font-size: 40px;
    color: #132f55;
}
.right-text p{
    font-size: large;
    color: #132f55;
}
.card {
    width: 170px; /* Fixed width for square shape */
    height: 170px; /* Fixed height for square shape */
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Initial subtle shadow */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
}

.card-caption {
    font-size: 1.25rem;
    font-weight: bold;
    color: #132f55;
}
.icon i{
    color: #132f55;
}

#unique {
    background-image: url('../../../assets/images/home/circle-bg.png'); 
    background-size: cover; /* Ensures the image covers the whole container */
    background-size: 100% auto; /* 90% width of the container, auto height */
  
    padding-top: 50px;
    padding-bottom: 50px;  background-position: center center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    min-height: 100vh; /* Ensures the container covers at least the full viewport height */
  }
  
@media(max-width:576px){
    
}