<app-navbar></app-navbar>
<div class=" position-relative">
    <!-- background img -->
    <div class="bg-img position-relative">
        <img src="../../../assets/images/home/app-services.png" class="w-100" alt="About Us">
        <div class="position-absolute top-50 start-50 translate-middle text-center text-white d-flex flex-column align-items-center">
            <p class=" fw-bold" style="font-size: 60px;">{{"services.title"|translate}}
            </p>
            <p class="fw-semibold fs-6  text-center text-light"> 
                  {{"services.description"|translate}}            
                </p>
           
        </div>
        
    </div>
   
    <!-- text -->
     <div class="row mt-5">
        <div class="text-center">
            <p class="text-secondary fw-semibold fs-4">
                {{"services.cards.header"|translate  }}
            </p>
            <p class="text-blue fw-bold fs-3">
              {{"services.cards.desc"|translate  }}

            </p>
        </div>
     </div>
     <!-- cards -->
        <div class="container mt-5">
            <div class="row mt-5 justify-content-center mx-auto">
                <!-- Card 1 -->
                <div class="col-lg-2 col-md-4 col-sm-6 mb-4 d-flex flex-column align-items-center px-1">
                    <div class="card custome-card text-center p-3">
                        <div class="card-body d-flex align-items-center justify-content-center">
                            <img src="../../../assets/images/home/services/mobile-app-icon1.png">
                        </div>
                    </div>
                    <p class="card-caption text-center mt-4">            
                        {{"services.cards.card1"|translate  }}
                    </p>
                </div>
        
                <!-- Card 2 -->
                <div class="col-lg-2 col-md-4 col-sm-6 mb-4 d-flex flex-column align-items-center px-1">
                    <div class="card custome-card text-center p-3">
                        <div class="card-body d-flex align-items-center justify-content-center">
                            <img src="../../../assets/images/home/services/mobile-app-icon2.png">
                        </div>
                    </div>
                    <p class="card-caption text-center mt-4">
                      {{"services.cards.card2"|translate  }}

                    </p>
                </div>
        
                <!-- Card 3 -->
                <div class="col-lg-2 col-md-4 col-sm-6 mb-4 d-flex flex-column align-items-center px-1">
                    <div class="card custome-card text-center p-3">
                        <div class="card-body d-flex align-items-center justify-content-center">
                            <img src="../../../assets/images/home/services/mobile-app-icon3.png">
                        </div>
                    </div>
                    <p class="card-caption text-center mt-4">
                      {{"services.cards.card3"|translate  }}

                    </p>
                </div>
        
                <!-- Card 4 -->
                <div class="col-lg-2 col-md-4 col-sm-6 mb-4 d-flex flex-column align-items-center px-1">
                    <div class="card custome-card text-center p-3">
                        <div class="card-body d-flex align-items-center justify-content-center">
                            <img src="../../../assets/images/home/services/mobile-app-icon4.png">
                        </div>
                    </div>
                    <p class="card-caption text-center mt-4">
                      {{"services.cards.card4"|translate  }}

                    </p>
                </div>
        
                <!-- Card 5 -->
                <!-- <div class="col-lg-2 col-md-4 col-sm-6 mb-4 d-flex flex-column align-items-center px-1">
                    <div class="card custome-card text-center p-3">
                        <div class="card-body d-flex align-items-center justify-content-center">
                            <img src="../../../assets/images/home/services/mobile-app-icon5.png">
                        </div>
                    </div>
                    <p class="card-caption text-center mt-4">Discounts</p>
                </div> -->
        
                <!-- Card 6 -->
                <!-- <div class="col-lg-2 col-md-4 col-sm-6 mb-4 d-flex flex-column align-items-center px-1">
                    <div class="card custome-card text-center p-3">
                        <div class="card-body d-flex align-items-center justify-content-center">
                            <img src="../../../assets/images/home/services/mobile-app-icon6.png">
                        </div>
                    </div>
                    <p class="card-caption text-center mt-4">Support</p>
                </div> -->
            </div>
        </div>
        <!-- tabs -->
        <div class="container mt-5 " id="tabs">
            <div class="row">
              <div class="text-center">
                <p class="text-center text-blue fw-bold fs-3 mt-5 ">
                  {{"services.tabs.header"|translate}}
                </p>
              </div>
            </div>
            <div class="row">
              <div class="text-center">
                <p class="text-center text-blue fw-semibold fs-4">
                  {{"services.tabs.desc"|translate}}
                </p>
              </div>
            </div>
            <div class="container mt-5">
                <div class="row mx-4"> 
                  <div class="col-md-4"> 
                    <!-- Tab navs as cards -->
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                      <div class="card mb-3">
                        <a class="nav-link active" id="v-pills-link1-tab" data-bs-toggle="pill" href="#v-pills-link1" role="tab"
                          aria-controls="v-pills-link1" aria-selected="true">
                          <div class="card-body">
                            <h6 class="card-title text-blue fw-bold">{{"services.tabs.tab1-title"|translate}}</h6>
                            <p class="card-text text-secondary fw-semibold">{{"services.tabs.tab1-desc"|translate}}.</p>
                          </div>
                        </a>
                      </div>
                      <div class="card mb-3">
                        <a class="nav-link" id="v-pills-link2-tab" data-bs-toggle="pill" href="#v-pills-link2" role="tab"
                          aria-controls="v-pills-link2" aria-selected="false">
                          <div class="card-body">
                            <h6 class="card-title text-blue fw-bold">{{"services.tabs.tab2-title"|translate}}</h6>
                            <p class="card-text text-secondary fw-semibold">{{"services.tabs.tab2-desc"|translate}}.</p>
                          </div>
                        </a>
                      </div>
                      <div class="card mb-3">
                        <a class="nav-link" id="v-pills-link3-tab" data-bs-toggle="pill" href="#v-pills-link3" role="tab"
                          aria-controls="v-pills-link3" aria-selected="false">
                          <div class="card-body">
                            <h6 class="card-title text-blue fw-bold">{{"services.tabs.tab3-title"|translate}}</h6>
                            <p class="card-text text-secondary fw-semibold">{{"services.tabs.tab3-desc"|translate}}.</p>
                          </div>
                        </a>
                      </div>
                      <div class="card mb-3">
                        <a class="nav-link" id="v-pills-link4-tab" data-bs-toggle="pill" href="#v-pills-link4" role="tab"
                          aria-controls="v-pills-link4" aria-selected="false">
                          <div class="card-body">
                            <h6 class="card-title text-blue fw-bold">{{"services.tabs.tab4-title"|translate}}</h6>
                            <p class="card-text text-secondary fw-semibold">{{"services.tabs.tab4-desc"|translate}}.</p>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
              
                  <div class="col-md-8">
                    <!-- Tab content -->
                    <div class="tab-content" id="v-pills-tabContent">
                      <div class="tab-pane fade show active" id="v-pills-link1" role="tabpanel" aria-labelledby="v-pills-link1-tab">
                        <img src="../../../assets/images/home/services/services/برنامج-إدارة-المكاتب-الهندسية-.png" class="img-fluid" alt="professional-website-design-services.jpg">
                      </div>
                      <div class="tab-pane fade" id="v-pills-link2" role="tabpanel" aria-labelledby="v-pills-link2-tab">
                        <img src="../../../assets/images/home/services/services/برنامج-حسابات-مبسط.png" class="img-fluid" alt="mobile-app-development-egypt.jpg">
                      </div>
                      <div class="tab-pane fade" id="v-pills-link3" role="tabpanel" aria-labelledby="v-pills-link3-tab">
                        <img src="../../../assets/images/home/services/services/برنامج-يوجيتك-للشكاوي.png" class="img-fluid" alt="professional-website-design-services.jpg ">
                      </div>
                      <div class="tab-pane fade" id="v-pills-link4" role="tabpanel" aria-labelledby="v-pills-link4-tab">
                        <img src="../../../assets/images/home/services/services/برنامج--يوجيتك-CRM.png" class="img-fluid" alt="egyptian-web-development-company.jpg ">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        
               
              
            
           
            </div>
     
        <!-- process -->
        <div class="container text-center mt-6">
            <!-- Section title -->
            <p class="text-secondary fw-bold mt-5">HOW OUR PROCESS WORKS</p>
            <h2 class="fw-semibold text-blue mb-5">Simple 4-Step System</h2>
          
            <!-- 4 steps row -->
      <!-- 4 steps row -->
      <div class="row justify-content-between align-items-center position-relative mt-circle">
        <!-- Step 1 -->
        <div class="col-md-3 col-sm-6 mb-4 position-relative step-wrapper">
          <div class="step-circle mb-3 mx-auto d-flex align-items-center justify-content-center">1</div>
          <h5 class="fw-bold mt-4">Strategy</h5>
          <p class="text-muted">The first step involves an onsite visit from a computer works expert.</p>
        </div>
        
        <!-- Step 2 -->
        <div class="col-md-3 col-sm-6 mb-4 position-relative step-wrapper">
          <div class="step-circle mb-3 mx-auto d-flex align-items-center justify-content-center">2</div>
          <h5 class="fw-bold mt-4">Design</h5>
          <p class="text-muted">The first step involves an onsite visit from a computer works expert.</p>
        </div>
        
        <!-- Step 3 -->
        <div class="col-md-3 col-sm-6 mb-4 position-relative step-wrapper">
          <div class="step-circle mb-3 mx-auto d-flex align-items-center justify-content-center">3</div>
          <h5 class="fw-bold mt-4">Operation</h5>
          <p class="text-muted " >The first step involves an onsite visit from a computer works expert.</p>

        </div>
        
        <!-- Step 4 -->
        <div class="col-md-3 col-sm-6 mb-4 position-relative step-wrapper">
          <div class="step-circle mb-3 mx-auto d-flex align-items-center justify-content-center">4</div>
          <h5 class="fw-bold mt-4">Launch</h5>
          <p class="text-muted">The first step involves an onsite visit from a computer works expert.</p>
        </div>
      </div>
         </div>

         <!-- feedback -->
    
 <div class="container feedback">
    <div class="row mt-5">
        <div class="text-center">
            <p class="text-secondary fw-bold">
                TESTIMONIALS & REVIEWS FROM OUR CLIENTS

            </p>
          
        </div>
    </div>
    <app-reviews></app-reviews>

  
  

 </div>


 <!-- faq -->
 <div class="container">
  <div class="row mt-6">
      <div>
          <p class="text-blue text-center fw-bold fs-2 "> {{"faq.title"|translate}} </p>
       
      </div>
</div>
<div class="container">
<div class="row my-5">
  <div class="col-lg-6 col-md-10 col-sm-11">
    <div class="accordion" id="accordionExample1">
      <!-- 1st Accordion Item -->
      <div class="accordion-item mt-3">
        <h2 class="accordion-header" id="headingFour">
          <button class="accordion-button collapsed text-blue fw-semibold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
           {{"services.faq.question1"|translate}}
          </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample1">
          <div class="accordion-body">
            <p class="text-blue">{{"services.faq.answer1"|translate}}</p>
          </div>
        </div>
      </div>
      
      <!-- 2nd Accordion Item -->
      <div class="accordion-item mt-3" >
        <h2 class="accordion-header" id="headingFive">
          <button class="accordion-button collapsed text-blue fw-semibold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            {{"services.faq.question2"|translate}}
          </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample1">
          <div class="accordion-body">
            <p class="text-blue">{{"services.faq.answer2"|translate}}</p>
          </div>
        </div>
      </div>
      
   
    </div>
  </div>

  <div class="col-lg-6 col-md-10 col-sm-11">
   <div class="faq-img me-5">
    <img src="../../../assets/images/home/faq/faq.jpg">
   </div>
  </div>
</div>
</div>
</div>

 <!-- call-to-us -->
 <div class="row mt-5">
    <div class="text-center">
        <p class="text-blue fs-1 fw-bold">{{"services.contactPart.header"|translate}}</p>
        <p class="text-blue mt-5 mb-0">
          {{"services.contactPart.desc1"|translate}}        
        </p>
        <p class="text-blue mt-0 mb-5">
          {{"services.contactPart.desc2"|translate}}      
        </p>
        <!-- Centered button with auto width -->
        <button class="btn button1 mx-auto mb-5" style="width: auto;" routerLink="/contact-us">
          {{"services.contactPart.btn"|translate}}
        </button>
    </div>
</div>

<app-footer></app-footer>


</div>
        
        

 