<div class="container mt-5 ">
  <div class="row">
    <div class="text-center">
      <p class="text-center text-blue fw-semibold ">
        AN EXQUISITE APP FOR COLLECTING, ORGANIZING & GENERATING IDEAS
      </p>
    </div>
  </div>
  <div class="row">
    <div class="text-center">
      <p class="text-center text-blue fw-semibold fs-1">
        Designers use Sway to organize their projects
      </p>
    </div>
  </div>
  <div class="row mt-5" data-aos="fade-up" data-aos-delay="300">
    <div class="col-md-4"> 
      <!-- Tab navs as cards -->
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <div class="card mb-3">
          <a class="nav-link active" id="v-pills-link1-tab" data-bs-toggle="pill" href="#v-pills-link1" role="tab"
            aria-controls="v-pills-link1" aria-selected="true">
            <div class="card-body">
              <h5 class="card-title text-blue fw-bold">Documents</h5>
              <p class="card-text text-secondary fw-semibold">You need branding and graphic design. Your web and mobile app needs UI/UX design that is fast and scales easily.</p>
            </div>
          </a>
        </div>
        <div class="card mb-3">
          <a class="nav-link" id="v-pills-link2-tab" data-bs-toggle="pill" href="#v-pills-link2" role="tab"
            aria-controls="v-pills-link2" aria-selected="false">
            <div class="card-body">
              <h5 class="card-title text-blue fw-bold">Create Event</h5>
              <p class="card-text text-secondary fw-semibold">You need a reliable backend application that is fast and scales easily. Integration with hardware devices..</p>
            </div>
          </a>
        </div>
        <div class="card mb-3">
          <a class="nav-link" id="v-pills-link3-tab" data-bs-toggle="pill" href="#v-pills-link3" role="tab"
            aria-controls="v-pills-link3" aria-selected="false">
            <div class="card-body">
              <h5 class="card-title text-blue fw-bold">Meetings</h5>
              <p class="card-text text-secondary fw-semibold">We create functional and intuitive interfaces and apps for desktop and mobile-friendly platforms different kind of agency.</p>
            </div>
          </a>
        </div>
        <div class="card mb-3">
          <a class="nav-link" id="v-pills-link4-tab" data-bs-toggle="pill" href="#v-pills-link4" role="tab"
            aria-controls="v-pills-link4" aria-selected="false">
            <div class="card-body">
              <h5 class="card-title text-blue fw-bold">Sessions</h5>
              <p class="card-text text-secondary fw-semibold">Using React Native that is fast and scales easily you don’t need to create two different apps for two platforms.</p>
            </div>
          </a>
        </div>
      </div>
      <!-- Tab navs -->
    </div>
  
    <div class="col-8">
      <!-- Tab content -->
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-link1" role="tabpanel" aria-labelledby="v-pills-link1-tab">
          <img src="../../../assets/images/home/tabs/saas-tab1x.jpg" class="img-fluid" alt="Image for Link 1">
        </div>
        <div class="tab-pane fade" id="v-pills-link2" role="tabpanel" aria-labelledby="v-pills-link2-tab">
          <img src="../../../assets/images/home/tabs/saas-tab2x.jpg" class="img-fluid" alt="Image for Link 1">
        </div>
        <div class="tab-pane fade" id="v-pills-link3" role="tabpanel" aria-labelledby="v-pills-link3-tab">
          <img src="../../../assets/images/home/tabs/saas-tab3x.jpg" class="img-fluid" alt="Image for Link 1">
        </div>
        <div class="tab-pane fade" id="v-pills-link4" role="tabpanel" aria-labelledby="v-pills-link4-tab">
          <img src="../../../assets/images/home/tabs/saas-tab4x.jpg" class="img-fluid" alt="Image for Link 1">
        </div>
      </div>
      <!-- Tab content -->
    </div>
  </div>
  
</div>
