.text-blue{
  color: #132f55;
}
.nav-pills .nav-link.active {
  background-color: transparent; 
  color: inherit; 
  border: none; 
  box-shadow: 2px 2px 4px rgba(148, 148, 187, 2); 
}


@media(max-width:992px){
  .tab-pane img{
    width: 100% !important;
    /* margin-left:2rem   !important;  */
  }
}