.bg-img, .solutions{
    font-family: 'bahij';
}
.hover-shadow {
    transition: box-shadow 0.3s ease;
}

.hover-shadow:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); 
    transform: scale(1.05); 
}
.card-img-top {
    border-radius: 10px; 
    transition: transform 0.3s; 
}

.cardy:hover .cardy-img-top {
    transform: scale(1.05); 
}

.img-overlap {
    margin-top: -75px;
    margin-right: -60px;
}
.round-container{
    background-color: #777af212;
    border-radius: 50px;
    width: 95%;
    height: 85vh;
    font-family: 'bahij';
}
.img-overlap-second{
    margin-top: -30px; 
    margin-right: 20px;
}
.button2 {
    background: white;
    border: 1px solid #d3a00f;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #d3a00f;
    cursor: pointer;
    display: inline-block;
    font-family: 'bahij';
    font-size: 16px;
    font-weight: normal;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, white 50%, #d3a00f 50%);
    transition: background-position 0.4s ease, color 0.4s ease; 
    background-position: 0 0;
    vertical-align: middle;
    width: 100%;
  }
  
  .button2:hover,
.button2:active {
  background-color: #d3a00f;
  background-position: -100% 0; 
  color: white;
}

.button2:active {
  opacity: .5;
}
.circle-img {
    width: 120px; 
    height: 120px; 
    object-fit: cover; 
    border-radius: 50%; 
    margin-bottom: 20px; 
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(181, 178, 178, 0.105); 
    border-radius: 50%; 
}
.custome-card{
    width: 280px !important;
}
.mt-7{
    margin-top: 9rem;
}
.ms-7{
    margin-left: 5rem;
}
.ms-8{
    margin-right: 20rem;
}

@media (max-width: 991px) {
    .hide-section {
      display: none;
      
    }
    .ms-8{
        margin-left: 1rem !important;
        margin-top: 10rem;
    }
  }
.feedback{
    font-family: 'bahij';
}
.call-to-action{
    font-family: 'bahij';
}

/* call-to-action */
.me-custome{
    margin-right: 7rem;
}
.my-custom{
    margin-top: 7rem;
    margin-bottom: 7rem;
    line-height: 1.8em;
}
.my-custom-btn {
    margin-top: 8rem;
    margin-bottom: 7rem;
    margin-right: 18rem;
}
.button1 {
    background: #d3a00f;
    border: 1px solid #d3a00f;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: 'bahij';
    font-size: 16px;
    font-weight: normal;
    line-height: 16px;
    min-height: 55px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, #d3a00f 50%, white 50%);
    transition: background-position 0.4s ease, color 0.4s ease; 
    background-position: 0 0;
    vertical-align: middle;
    width: 30%;
  }
  
  .button1:hover,
  .button1:active {
    background-color: white;
    background-position: -100% 0; 
    color: #d3a00f;
  }
  
  .button1:active {
    opacity: .5;
  }
  @media(max-width:500px){
    .me-custome{
        font-size: 1rem !important;
        margin-right: 1.5rem !important;
    }
    .my-custom{
        margin-top: 3rem;
        margin-bottom:  0rem !important;
        line-height: 1.8em;
    }
    .my-custom-btn {
        margin-top: 5rem;
        margin-bottom: 2rem;
        margin-right:  7rem !important;
    }
    .button1{
        width: 43%;
    }
  }

  .round {
    background-color: #ece9ee;
    border-radius: 50px;
    width: 95%;
    margin-bottom: -100px; 
    position: relative;
    z-index: 2000; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 

}

footer {
    position: relative;  
    z-index: 1;  
    margin-top: 300px; 
}